<div class="map-section clearfix">
  <dl class="huadong">
    <dt>华东</dt>
    <dd><a>浙江</a></dd>
    <dd><a>福建</a></dd>
    <dd><a>江苏</a></dd>
    <dd><a>安徽</a></dd>
    <dd><a>山东</a></dd>
    <dd><a>江西</a></dd>
    <dd><a>上海</a></dd>
  </dl>
  <dl class="huabei">
    <dt>华北</dt>
    <dd><a>北京</a></dd>
    <dd><a>天津</a></dd>
    <dd><a>内蒙古</a></dd>
    <dd><a>河北</a></dd>
    <dd><a>山西</a></dd>
  </dl>
  <dl class="xinan">
    <dt>西南</dt>
    <dd><a>四川</a></dd>
    <dd><a>贵州</a></dd>
    <dd><a>云南</a></dd>
    <dd><a>重庆</a></dd>
    <dd><a>西藏</a></dd>
  </dl>
  <dl class="xibei">
    <dt>西北</dt>
    <dd><a>新疆</a></dd>
    <dd><a>陕西</a></dd>
    <dd><a>甘肃</a></dd>
    <dd><a>青海</a></dd>
    <dd><a>宁夏</a></dd>
  </dl>
  <dl class="huanan">
    <dt>华南</dt>
    <dd><a>广东</a></dd>
    <dd><a>广西</a></dd>
    <dd><a>海南</a></dd>
  </dl>
  <dl class="huazhong">
    <dt>华中</dt>
    <dd><a>湖南</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '420000000000')%>">湖北</a></dd>
    <dd><a>河南</a></dd>
  </dl>
  <dl class="dongbei">
    <dt>东北</dt>
    <dd><a>黑龙江</a></dd>
    <dd><a>吉林</a></dd>
    <dd><a>辽宁</a></dd>
  </dl>
</div>
