<div class="row main">
  <div class="span3">
    <%= render_cell :items, :homepage_categories_navbar, {:categories => @categories} %> 
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
  </div>
  <div class="span9">
    <%= render "area_map" %>
    <%= render_cell :items, :homepage_latest_items_wrapper %> 
  </div>
</div>
