<div class="row main">
  <div class="span3">
    <%= render "categories_map" %>
  </div>
  <div class="span9">
    <%= render "area_map" %>
    <div>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
      xxxxxxx</br>
    </div>
  </div>
</div>
