<div class="row">
  <div class="span4">
    <h2>产品分类</h2>
    <ul>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
      <li>五谷粮油</li>
    </ul>
  </div>
  <div class="span8">
    <%= render "area_map" %>
  </div>
</div>
<div class="span12">  
  <h1>here is app/views/home/index.html.erb</h1>
</div>
