<div class="row">
  <div class="span4">
    categories
  </div>
  <div class="span8">
    <%= render "area_map" %>
  </div>
</div>
<div class="row">  
  <h1>here is app/views/home/index.html.erb</h1>
</div>
