<div class="row-fluid">
  <div class="span9">
    <ul class="nav nav-tabs" id="editTab">
      <li class="active">
        <a href="#">编辑基本信息</a>
      </li>
      <li>
        <%= link_to '编辑图片', new_item_picture_path(@item)%>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
    <%= render 'sidebar_for_items' %>
  </div>
</div>
