<div id="page" data-role="page"
  <% if not request.referer.to_s.empty? %>
    data-add-back-btn="true" data-back-btn-text="返回"
  <% end %>
  >
  <div id="header-bar" data-role="header" data-theme="b" >
    <% if request.referer.to_s.empty? %>
      <%= link_to '首页', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
    <% end %>
    <h1><%= @item.title || 'NongMing365' %></h1>
    <% unless signed_in? %>
      <%= link_to '登录', signin_path, "class" => "ui-btn-right" %>
    <% else %>
      <%= link_to "退出", signout_path, method: "delete", "class" => "ui-btn-right" %>
    <% end %>
  </div>
  <div data-role="content">
  </div>
</div>
