div.bg-white{background-color: $white;}
.radius{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
fieldset { margin-bottom: 0;}
fieldset legend { font-size: 16px; font-weight: bold;}
.pagination { margin: 0; margin-top: 10px; }
a.label:hover { text-decoration: none; color:#FFF;}
abbr[title] { border: 0; cursor: default; }
form {
  margin-bottom: 0;
}
.simple_form{
  div.controls{
    div.input-prepend{
      input{
        vertical-align:top;
      }
      span.help-block, span.help-inline {
        font-size:13px;
      }
    }
  }
}
.form-horizontal .form-actions {
  padding-left: 20px;
  text-align:center;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  margin-bottom: 0px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


textarea.long { width: 670px;}
textarea.span16 { width: 910px;}
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width:510px;}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field .hint { font-size: 12px; color: #999;}

.field_with_errors {
  display: inline;
  color: #b16125;
}

.alert-message { margin-bottom: 8px;}

.icon {
  display:inline-block;
  transition-property: background-position;
  transition-duration: 0.5s;
  -moz-transition-property: background-position; /* Firefox 4 */
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-property: background-position; /* Safari and Chrome */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
}

.simple_form {
  label.required {
    abbr { color: #c00;}
  }
}

/* bootstrap puts .clearfix inside form, doesn't make much sense */
.clearfix {
  margin-bottom: 18px;
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


#error_page {
  padding: 60px;
  h1 { font-size: 600%; color: #aaa; margin-bottom: 100px;}
  p { font-size: 16px; }
}

.no_result { text-align: center; color: #999; }

div#go-top{
  position: fixed;
  display: none;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  width: 110px;
  cursor: pointer;
  a.go-top{
    cursor: pointer;
    float: right;
    width: 50px;
    height: 50px;
    background: url(icons/go-top.png) no-repeat 0 0;
  }
  a.go-top:hover{background-position:-50px 0}
}

.box-header {
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  background-image: url(bg/latest_header.jpg);
  border: 1px solid #9bbd73;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
}
.box{
  border: 1px solid #DDD;
}

#tag_cloud{
  float:left;
  clear:both;
  width:100%;
  .box-header {
  }
  .box{
    margin-top:4px;
    padding: 4px;
    line-height: 1.2;
  }
  .css1 { font-size: 0.8em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.6em; }
  .css4 { font-size: 1.8em; }
}

.navbar .nav > li > a.cp{
  background-color: #5C8B34;
}
