// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items-controller , .create-action{
  .simple_form{
    .control-group{
      label{ width: 80px; }
      .controls {
        margin-left: 100px;
        .regions{ width: 100px; margin-right: 6px; }
        .body_editor{ height: 150px; }
      }
    }
  }
}

.items-controller , .index-action{
  .condition-list{
    dl{
      clear:both;
      dd a.current{background: none repeat scroll 0 0 #4598D2;}
      li {
        list-style: none outside none;
        float:left; 
        a {
          padding: 2px 5px;
        }
      }
    }
  }
}
