// Place all the styles related to the item_pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pictures-controller {
  div.gallery-back{
    background-color: #f7f7f7;
  }
  div#item_gallery{
    padding: 0 10px 10px 10px;
    div.picture {
      background-color: #fff;
      margin: 10px 0 0 0;
      padding: 10px;
      width: 197px;
      float: left;
      div.actions{
        display: none;
        margin: 10px 0 0 0;
        text-align:center;
        position: absolute;
        top: 9px;
        right: 9px;
        width: 60px;
        background: #000;
        z-index: 7;
        a.button{
          float: left;
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url("http://r.ph.126.net/photo/image/album/icon-btn.png") no-repeat 0 0;
          &:hover{
            background-color: #25a7ed;
          }
        }
        a.ta{
          background-position: -56px -41px;
        }
        a.tb{
          background-position: -25px -41px;
        }
      }
      div.cover{
        left: -2px;
        position: absolute;
        top: -2px;
        width: 60px;
        height: 60px;
        background: url("http://r.ph.126.net/photo/image/album/icon-btn.png") no-repeat -34px -104px;
        text-indent: -9999px;
        z-index: 6;
      }
    }
    div.on{
      div.actions{
        display: block;
      }
    }
  }
}
