// Place all the styles related to the item_pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pictures-controller {
  div.gallery-back{
    background-color: #f7f7f7;
  }
  div#item_gallery{
    padding: 0 10px 10px 10px;
    div.picture {
      background-color: #fff;
      margin: 10px 0 0 0;
      padding: 10px;
      width: 197px;
      float: left;
      div.actions{
        margin: 10px 0 0 0;
        text-align:center;
      }
    }
  }
}
