<%# Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. %>
<%# chromium.org/developers/how-tos/chrome-frame-getting-started %>
<!--[if lt IE 7 ]>
<p class=chromeframe>
  你现在使用的浏览器 <em>老掉牙了</em>，本站的高级功能你都用不了啊!
  <a href="http://browsehappy.com/">快点这里选一个高速浏览器吧</a> 或者
  <a href="http://www.google.com/chromeframe/?redirect=true&prefersystemlevel=true&hl=zh-CN">
    安装 Google Chrome Frame</a> 来快速体验本站的服务吧.
</p>
<![endif]-->

