<% errors_count = 0 %> 
<% flash_count = 0 %> 
<% if target && target.errors && target.errors.any?
     errors_count = target.errors.count
end %>
<% if flash && flash.count > 0
     flash_count = flash.count
end %>
<% all_message_count = errors_count + flash_count %>
<% if errors_count + flash_count > 0 %>
  <div class="alert alert-block alert-error">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><strong>有 <%= all_message_count %> 处问题导至无法提交:</strong></p>
    <ul>
      <% if errors_count > 0 %>
        <% target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      <% if flash_count > 0 %>
        <% flash.each do |key, value| %>
          <li><%= value %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

