<footer id="footer" class="footer">
  <small class="copyright">
    Nong Min365, Copyright &copy; <%= Date.today.year %>
</small>
</footer>
<div id="go-top">
  <a title='回到顶端' class="go-top" href="#"></a>
</div>
