<header id="header" class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#">NongMin365.com</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
        Articles
        <b class='caret'></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "List all articles", users_path %></li>
        <li><%= link_to "New article", users_path %></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
</header>
