<header class="" id="header">
  <div class="row">
    <div class="span12">
      <h1><%= SiteSettings.site_name %></h1>
      <p class="lead"><%= SiteSettings.site_description %></p>
    </div>
  </div>
</header>
