//-----------------------------------------
// Document styles
//-----------------------------------------

html {}
// Bootstrap body padding for fixed navbar
body { 
  padding-top: 60px; 
  /*background-image: url("http://nx28.com/images/index_img/top_bg.jpg");*/
  background-repeat: repeat-x;
  color: #666;
}
